.encabezado{
    color: red;
}


.continentes li.norte{
    color: greenyellow;
}


.estudiante {
    font-family: sans-serif;
    font-size: 15px;
    background: yellow;
    color: orange;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}


.equipos{
    background-color: aqua;
    color: azure;
    font-family: sans-serif;
}