body{
    background-color: rgba(83, 132, 221, 0.425);
    padding: 2px;
    margin: auto;
}
.titulo{
    color: rgba(226, 210, 210, 0.87);
    background-color: rgba(126, 124, 119, 0.767);
    text-shadow: 2px 1px 2px black;
    font-weight: normal;
    letter-spacing: 10px;
    word-spacing: 10px;

}
.articulo{
    background-color: rgba(80, 177, 92, 0.445);
    color: white;
    width: 600px;
    height: 100px;
    border: 1px dotted cyan; 
    /* border-left: 2px dotted red;
    border-top: 3px double blue;
    border-bottom: 5pxdashed cyan;
    border-right: 1px darkgreen; */
    /* top right bottom left */
    padding: 10px 10px 5px 30px;
    margin: 10px;
    margin-left: 100px;
    box-shadow: 5px 5px white;
    /* texto */
    font-size: 16px;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
    text-decoration: line-through;
    text-transform: capitalize;
    text-indent: 20px;
    line-height: 15px;
}

.navegar{
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    box-shadow: 2px 2px 1px blue;
    text-transform: uppercase;
}

.navegar:hover{
    background-color: cornflowerblue;
    color: crimson;
    border: solid green;
    font-family: sans-serif;
    box-shadow: 2px 2px 1px white;
}
a:visited{
    color: khaki;
    background-color: lightblue;
   /*  creo que no sirve xq no guardo historial :c */
}

ul{
    list-style-image: url('../img/kamui.png');
}