body{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgb(196, 233, 231);
   /*  width: 120px; */ /* barra horizontal */
   overflow: hidden;  /* barra verical */
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
    color: rgb(112, 102, 102);
}

li a:hover{
    background-color: rgb(211, 211, 211);
    color: indigo;
}