table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table, td, th{
    border: 1px solid black;
}

th{
    height: 30px;
}

th{
    text-align: center;
}

td :first-child, :last-child{
 text-align: center;
}
td{
    padding: 3px;
}
td: :nth-child(2){
    ;
}


tbody >tr:hover{
background-color: lightgray;
}
tr:nth-child(even){
    background-color: lawngreen;
}
tbody:{

}
