@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenedor{
    /* Dimensiones */
    width: 100vw;
    height: 100vw;
    background: brown;
        display: grid;
        /* Filas   /  coloumnas */
        grid-template: 80px 1fr 1fr 80px 1fr/ 2fr 1fr;
        gap: 10px;
       
}

.header {
    background: blue;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
        display: grid;
        grid-template: 1fr/ 1fr 1fr;
        align-items: center; /*  vertical */
      
}
.header h1{
    justify-self: start;
    margin-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: papayawhip;
    font-size:  2.5em;
}
.header div{
    justify-self: end;
    margin-left: 20px;

}
.header div button {
    font-family: 'Ubuntu';
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: chartreuse;
    color: white;

}

.contenido1{
    background: red;
    grid-row: 2/4;
    grid-column: 1/2;

        display: grid;
        grid-template: 40px repeat(2,1fr) 40px/repeat(3,1fr);
        grid-template-areas: 
        "celda1 celda1 celda1"
        "celda2 celda2 celda3"
        "celda4 celda4 celda5"
        "celda6 celda6 celda6";

}
.celda1{ 
    background: yellowgreen;
    grid-area: celda1;
}

.celda2{
    background: rgb(210, 224, 180);
    grid-area: celda2;

}
.celda3{
    background: rgb(42, 105, 141);
    grid-area: celda3;
}
.celda4{
    background: rgb(190, 19, 19);
    grid-area: celda4;
}
.celda5{
    background: rgb(223, 223, 223);
    grid-area: celda5;
}
.celda6{
    background: rgb(46, 7, 219);
    grid-area: celda6;
}







.contenido2{
    background: violet;
    grid-row: 2/3;
    grid-column: 2/3;
}

.contenido3{
    background: black;
    grid-row: 3/4;
    grid-column: 2/3;
}
.footer{
    background: orange;
    grid-row: 4/5;
    grid-column: 1/3;
}