ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(76, 29, 207, 0.733);
    width: 120px;
}
li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
    color: rgb(220, 223, 73);
}

li a:hover{
    background-color: rgba(74, 111, 212, 0.767);
    color: rgb(0, 0, 0);
}