p{
    /* selector de tag */
    color: greenyellow;
}
#noticiaPrincipal{
    /* selector de id */
    color: rgba(57, 69, 136, 0.692);
}
.publicidad{
    /* selector de clase */
    color: rgb(105, 26, 161);
}
/* selector por agrupación */
h1,h2,h4{
    color: orange;
}