*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    width: 100%;
}

li{
    padding: 5px;
    background: rgb(206, 147, 224);
    margin: 3px;
    
}

.terminar {
    background: rgb(204, 238, 154);
    color: wheat;
    text-decoration: line-through;
}

li button{
    background: rgb(236, 104, 104);
    border:  1px solid red;
}