
<head>
    <meta charset="UTF-8">
    <title>Página CCS</title>
    <link rel="stylesheet" href="css/estilo.css">
    <style>
        span{
            color: greenyellow;
        }
    </style>
</head>

<body>
    <a href="index.html">Página Principal</a>
    <br>
    <span style="color: blue;">UNIVERSIDAD UNIVERSIDAD UNI NINI</span>
    <br>




    <h3>Npticia 1</h3>
    <p id="noticiaPrincipal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sint recusandae animi quibusdam aspernatur cumque laborum saepe non ut eius veritatis odio voluptatem rem, soluta, laboriosam quisquam explicabo doloribus esse.
    </p>
    <h3>Noticia 2</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sint recusandae animi quibusdam aspernatur cumque laborum saepe non ut eius veritatis odio voluptatem rem, soluta, laboriosam quisquam explicabo doloribus esse.
    </p><h3>Noticia 3</h3>
    <p class="publicidad">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sint recusandae animi quibusdam aspernatur cumque laborum saepe non ut eius veritatis odio voluptatem rem, soluta, laboriosam quisquam explicabo doloribus esse.
    </p>

    <span class="publicidad">Bienvenidos</span>
    <br>
    <h3 class="publicidad">Derechos Reservados</h3>
    <br>
    <h1>Titulo1</h1>
    <h2>Titulo2</h2>
    <h4>Titulo4</h4>
    


</body>