*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.barra{
    background: #C7C001;
    display: grid;
    
    /* Filas   /  coloumnas */
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 10px;
}

.cuadrado{
    margin: auto;
    text-align: center;
    background: #1F1D21;
    width: 800px;
    height: 500px;
}

.contenedor{

    margin: auto;

    padding: 30px;
    text-align: center;
    background: #ffffff65;
    width: 700px;
    height: 500px;
}

.table{
    margin: auto;
    padding: 20px;
}
.thead-dark th{

    padding: 20px;
}