*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.arriba{
    background: #8F3232;
    display: grid;
    /* Filas   /  coloumnas */
    grid-template: 70px 1fr / 80%1fr 40%1fr 10%1fr;
    gap: 10px;
}

.boxuno{
    margin: 100px;

}

.titulo{
    font-size: 60px;
}

.box{
    padding: 50px;
    background: rgba(107, 107, 107, 0.781);
    
}

.caja div {
    padding-left: 30px;
    font-size: 30px;
    margin: 20px;
}

.enviar {
    text-align: right;
}