*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.barra{
    background: #C7C001;
    display: grid;
    
    /* Filas   /  coloumnas */
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 10px;
}

.hoja{
    background: #1F1D21;

    margin: 200px;
}


.formulario{
    background: #ffffff3a;
    display: grid;
    text-align: center;
    margin: 200px;
    font-size: 30px;
    /* Filas   /  coloumnas */
    grid-template:  repeat(6,1fr) / 1fr;
    gap: 10px;
}
