*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenedor{
    text-align: center;
    background: gray;
    margin: auto;
    width: 600px;
    height: 500px;
    padding-top: 200px;
}

