*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.arriba{
    background: #C7C001;
    display: grid;
    /* Filas   /  coloumnas */
    grid-template: 70px 1fr / 80%1fr 40%1fr 10%1fr;
    gap: 10px;
}

.cuadro{
    text-align: center;
    background: #1F1D21;
    margin: 10px;
    margin-right: 20%;
    margin-left: 20%;
    display: grid;
    /* Filas   /  coloumnas */
    grid-template:  1fr  1fr  1fr  / 1fr;
    gap: 10px;
}


.orden{

    grid-row: 2 / 3;
    grid-column: 1 /1;
    background: yellowgreen;
    display: grid;
    
    /* Filas   /  coloumnas */
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    gap: 10px;
}

.cc{
    
    grid-row: 1 / 2;
    grid-column: 2 /3;
}

.mc{
    grid-row: 2 / 2;
    grid-column: 1 /3;
}

.mp{
    grid-row: 2 / 2;
    grid-column: 3 /3;
}


.cc button{
    width:90px;
    height:90px;
    background-color:#ffffff;
    margin: 5px;
    padding:10px;
    border-radius: 50px;
    border: none;
    font-size:11px;
}

.mc button{
    width:90px;
    height:90px;
    background-color:#ffffff;
    margin: 5px;
    padding:10px;
    border-radius: 50px;
    border: none;
    font-size:11px;
}

.mp button{
    width:90px;
    height:90px;
    background-color:#ffffff;
    margin: 5px;
    padding:10px;
    border-radius: 50px;
    border: none;
    font-size:11px;
}


.correo{
    padding-top: 200px;
    grid-row: 1 / 4;
    grid-column: 1 / 1;
}





.uni{

    grid-row: 4 / 4;
    grid-column: 1 / 1;
}