*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.grande{
    padding-top: 200px;
}

.titulo{
    font-size: 30px;
    padding: 50px;
    background: yellow;
    text-align: center;
}

.contenedor{
    margin: 40px;
    padding: 30px;
    
    display: grid;
        /* Filas   /  coloumnas */
    grid-template: 1fr/ 1fr 1fr;
    gap: 10px;
}

.iniciar{
    background: green;
    text-align: center;
    padding: 50px;
}

.crear{
    background: red;
    text-align: center;
    padding: 50px;
}