*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenedor{
    padding: 300px;
    text-align: center;
}


.usuario{
    margin: 10px;
}

.contraseña{
    margin: 10px;
}

.ingresar{
    margin: 10px;
}
