*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.barra{
    background: #C7C001;
    display: grid;
    
    /* Filas   /  coloumnas */
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 10px;
}