*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.boxuno{
    margin: 100px;

}

.titulo{
    font-size: 60px;
}

.box{
    padding: 50px;
    background: rgba(107, 107, 107, 0.781);
    
}

.caja div {
    padding-left: 30px;
    font-size: 30px;
    margin: 20px;
}

.enviar {
    text-align: right;
}